{%extends 'demoapp/base.html' %}

{%block body_block%}
<div class="jumbotron">
  <div class="container" >

    <h1>Welcome to Health Care Home!!!</h1>
    <h2></h2>
    <ul>
      <li>Growing old is inevitable, but growing up is optional.</li>

      <li>Mental health matters .....Being happy and keeping your stress down goes a long way in helping you live and age well.</li>
      <li>Practice amazing exercise daily and have a healthy life</li>
      <li>Growing older can inspire many feelings — some positive and some negative. So we have come up with best entertainment for senior citizens.</li>
      <li>Here everyone can perform exercise, have a healthy diet plan,entertainment and doctor's consult. </li>
    </ul>
  </div>
    </div>

    {%endblock%}
